{% extends "padre.html" %}

{% load static %}

{% block background %}{% static 'assets/img/home-bg.jpg' %}{% endblock %}
{% block headers %}
    <h1>Blog de padres</h1>
    <span class="subheading">Contenido para padres en busqueda de la paternidad efectiva</span>
{% endblock %}
{% block contenidocambiante %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p>¿Estas seguro deseas eliminar {{object}}?</p>
    <input type="submit" value="Eliminar" />
   </form>
   

{% endblock %}