{% extends "padre.html" %}

{% load static %}
{% block background %}{% static 'assets/img/daniel_montero.jpg' %}{% endblock %}
{% block headers %}
    <h1>Daniel Montero</h1>
    <span class="subheading">Padre Ingeniero Programador Gamer</span>
{% endblock %}
{% block contenidocambiante %}
<p>Soy Ingeniero en Mecatronica, me fascinan los videojuegos, me encanta la programacion y soy un padre comprometido</p>
<p>Este blog esta realizado en python como mi proyecto final, lo hice con mucho afecto</p>

{% endblock %}